$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #46A9F4;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$navBackground: #2a2d33;
$navBackgroundAccent: #191b1f;
$navItemInactiveColor: #87898b;
$greyButtonColor: #BEBEBE;
$titleColor: #4A4A4A;
$descColor: #8B8B8B;
$dividerColor: #E8E8E8;
$moreOptionsColor: #E7E7E7;
$recruiterNameColor: #2B2D33;
