.interviewer-add {

  margin: 5px;

  .interviewer-add-button {
    .material-icons {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }



}